///////////////////////////////////////////      Typography       ///////////////////////////////////////////

//whats the base font size?
//I want 45px for h1. Modular scales!!
$body-font: 'droid_sans_monoregular', Arial, sans-serif;
$title-font: 'Playfair Display', Arial, sans-serif;



///////////////////////////////////////////      Misc       ///////////////////////////////////////////
$hr-light-border: 1px solid #dce0e0;
$white: #FFF;
