///////////////////////////////////////////      Typography       ///////////////////////////////////////////

//whats the base font size?
//I want 45px for h1. Modular scales!!
$body-font: 'droid_sans_monoregular', Arial, sans-serif;
$title-font: 'Playfair Display', Arial, sans-serif;


///////////////////////////////////////////  Colors           ///////////////////////////////////////////
$brand-primary: #175b67;
$brand-secondary: #408fa0; // Lighter color
$brand-accent: #f07488; //
$brand-alert: #d3415a;


///////////////////////////////////////////      Misc       ///////////////////////////////////////////
$hr-light-border: 1px solid #dce0e0;
$white: #FFF;
