doctype html5
html
    head
        title scraping skills
        link
    body
        h1 testing!
        p link git profiles. 3 col socials.
        div
            p category and background image. .hover2space click to toggle
        div
            p category and image. .hover2space click to toggle
        div
            p category and image. .hover2space click to toggle
        div
            p category and image. .hover2space click to toggle
        p #key. list/table 5 padded rows. 2 visible on hover 5 on click
        p.
            #note.
            use global style, project style, folder style or overwrite with specif
            404 (working out kinks & links) - link back. do you want to leave feedback, this is already logged. Well, you seem what had happened wass


