extends layout.pug
block head
    - var pageTitle = "scraping skills";
    - var pageDescription = "SEO stuff";
    - var pageKeywords = "SEO stuff";
    //meta(name="description" content="SEO stuff")
    //add some web cache stuff - cache-aware script in either .htaccess or html meta tag
    //meta(http-equiv="Pragma" content="non-cache")
    //meta(http-equiv="Expires" content="-1")
    //meta(http-equiv="CACHE-CONTROL" content="NO-CACHE")
block content
    section
    .container-fluid
        .container
            .row
                h1 testing! - this is projects/scraping/
            .row
                p note: visit at .projects (for correct css). Upload at deeadebayo.com
            .row.text-center
                .col-sm
                    a.icon-section(href="https://github.com/grayswand1r" target="_new")
                        img.img-fluid.git-pic(src="public/img/git-joey.png")
                        p grayswand1r
                .col-sm
                    a.icon-section(href="https://github.com/deeadebayo" target="_new")
                        img.img-fluid.git-pic(src="public/img/git-dee.gif")
                        p deeadebayo
                .col-sm
                    a.icon-section(href="https://github.com/MrJkmullen" target="_new")
                        img.img-fluid.git-pic(src="public/img/git-john.png")
                        p MrJkmullen
            br
            .row
                .col
                    h2 What is it?
                    p At the beginning of this project, we all worked in the support department at an online employment website. From time to time, clients would have setups that involved "scraping" their website to get job data to post on our company's site. This was a process we all became familiar with troubleshooting and resolving.
                    p This project is basically the same principal. Kinja Deals [link] is a website that aggregates deals from across the web and posts them on their site. Our goal is to collect that product/price data and present it in a logical, sortable, manipulatable way. Further along in our project maturity, we hope to have historical data to display our data in a creative way.
                    p
                        ul
                            li 04/06/18 <br> Create all products page with basic fields
                            li remove the bullet points
            br
            .row
                .col
                    h2 Where's your work?
                    p
                        a(href="https://github.com/grayswand1r/scrapingskills" target="_new") Here
                        |'s a link to our GitHub
            br
            .row
                .col
                    h2 Some more info
                    p follow link to here - deals.php
            br
            .row
                .col
                    p category and background image. .hover2space click to toggle
                .col
                    p category and image. .hover2space click to toggle
                div
                    p category and image. .hover2space click to toggle
                div
                    p category and image. .hover2space click to toggle
                p #key. list/table 5 padded rows. 2 visible on hover 5 on click
                p.
                    #note.
                    404 (working out kinks & links) - link back. do you want to leave feedback, this is already logged. Well, you seem what had happened was
block endscript